<form>
  <fieldset>
    <legend>PED</legend>
    <fieldset>
      <legend>PD_ProjetoBase</legend>
      <label for="AvIniANEEL">AvIniANEEL:</label>
      <input type="text" id="AvIniANEEL" name="AvIniANEEL"><br><br>
      <label for="Titulo">Titulo:</label>
      <input type="text" id="Titulo" name="Titulo"><br><br>
      <label for="Duracao">Duracao:</label>
      <input type="text" id="Duracao" name="Duracao"><br><br>
      <label for="Segmento">Segmento:</label>
      <input type="text" id="Segmento" name="Segmento"><br><br>
      <label for="CodTema">CodTema:</label>
      <input type="text" id="CodTema" name="CodTema"><br><br>
      <label for="OutroTema">OutroTema:</label>
      <input type="text" id="OutroTema" name="OutroTema"><br><br>
      <fieldset>
        <legend>Subtemas</legend>
        <fieldset>
          <legend>Subtema</legend>
          <label for="CodSubtema">CodSubtema:</label>
          <input type="text" id="CodSubtema" name="CodSubtema"><br><br>
          <label for="OutroSubtema">OutroSubtema:</label>
          <input type="text" id="OutroSubtema" name="OutroSubtema"><br><br>
        </fieldset>
      </fieldset>
      <label for="FaseInovacao">FaseInovacao:</label>
      <input type="text" id="FaseInovacao" name="FaseInovacao"><br><br>
      <label for="TipoProduto">TipoProduto:</label>
      <input type="text" id="TipoProduto" name="TipoProduto"><br><br>
      <label for="DescricaoProduto">DescricaoProduto:</label>
      <input type="text" id="DescricaoProduto" name="DescricaoProduto"><br><br>
      <label for="Motivacao">Motivacao:</label>
      <input type="text" id="Motivacao" name="Motivacao"><br><br>
      <label for="Originalidade">Originalidade:</label>
      <input type="text" id="Originalidade" name="Originalidade"><br><br>
      <label for="Aplicabilidade">Aplicabilidade:</label>
      <input type="text" id="Aplicabilidade" name="Aplicabilidade"><br><br>
      <label for="Relevancia">Relevancia:</label>
      <input type="text" id="Relevancia" name="Relevancia"><br><br>
      <label for="RazoabCustos">RazoabCustos:</label>
      <input type="text" id="RazoabCustos" name="RazoabCustos"><br><br>
      <label for="PesqCorrelata">PesqCorrelata:</label>
      <input type="text" id="PesqCorrelata" name="PesqCorrelata"><br><br>
    </fieldset>
    <fieldset>
      <legend>PD_Equipe</legend>
      <fieldset>
        <legend>Empresas</legend>
        <fieldset>
          <legend>Empresa</legend>
          <label for="CodEmpresa">CodEmpresa:</label>
          <input type="text" id="CodEmpresa" name="CodEmpresa"><br><br>
          <label for="TipoEmpresa">TipoEmpresa:</label>
          <input type="text" id="TipoEmpresa" name="TipoEmpresa"><br><br>
          <fieldset>
            <legend>Equipe</legend>
            <fieldset>
              <legend>EquipeEmpresa</legend>
              <label for="NomeMbEqEmp">NomeMbEqEmp:</label>
              <input type="text" id="NomeMbEqEmp" name="NomeMbEqEmp"><br><br>
              <label for="CpfMbEqEmp">CpfMbEqEmp:</label>
              <input type="text" id="CpfMbEqEmp" name="CpfMbEqEmp"><br><br>
              <label for="TitulacaoMbEqEmp">TitulacaoMbEqEmp:</label>
              <input type="text" id="TitulacaoMbEqEmp" name="TitulacaoMbEqEmp"><br><br>
              <label for="FuncaoMbEqEmp">FuncaoMbEqEmp:</label>
              <input type="text" id="FuncaoMbEqEmp" name="FuncaoMbEqEmp"><br><br>
            </fieldset>
          </fieldset>
        </fieldset>
      <fieldset>
        <fieldset>
          <legend>Executoras</legend>
          <fieldset>
            <legend>Executore</legend>
            <label for="CNPJExec">CNPJExec:</label>
            <input type="text" id="CNPJExec" name="CNPJExec"><br><br>
            <label for="RazaoSocialExec">RazaoSocialExec:</label>
            <input type="text" id="RazaoSocialExec" name="RazaoSocialExec"><br><br>
            <label for="UfExec">UfExec:</label>
            <input type="text" id="UfExec" name="UfExec"><br><br>
            <fieldset>
              <legend>Equipe</legend>
              <fieldset>
                <legend>EquipeExec</legend>
                <label for="NomeMbEqExec">NomeMbEqExec:</label>
                <input type="text" id="NomeMbEqExec" name="NomeMbEqExec"><br><br>
                <label for="BRMbEqExec">BRMbEqExec:</label>
                <input type="text" id="BRMbEqExec" name="BRMbEqExec"><br><br>
                <label for="DocMbEqExec">DocMbEqExec:</label>
                <input type="text" id="DocMbEqExec" name="DocMbEqExec"><br><br>
                <label for="TitulacaoMbEqExec">TitulacaoMbEqExec:</label>
                <input type="text" id="TitulacaoMbEqExec" name="TitulacaoMbEqExec"><br><br>
                <label for="FuncaoMbEqExec">FuncaoMbEqExec:</label>
                <input type="text" id="FuncaoMbEqExec" name="FuncaoMbEqExec"><br><br>
              </fieldset>
            </fieldset>
          </fieldset>
        </fieldset>
      </fieldset>
    </fieldset>
    <fieldset>
      <legend>PD_Recursos</legend>
      <fieldset>
        <legend>RecursoEmpresa</legend>
        <label for="CodEmpresa">CodEmpresa:</label>
        <input type="text" id="CodEmpresa" name="CodEmpresa"><br><br>
        <fieldset>
          <legend>DestRecursosExec</legend>
          <label for="CNPJExec">CNPJExec:</label>
          <input type="text" id="CNPJExec" name="CNPJExec"><br><br>
          <fieldset>
            <legend>CustoCatContabilExec</legend>
            <label for="CatContabil">CatContabil:</label>
            <input type="text" id="CatContabil" name="CatContabil"><br><br>
            <label for="CustoExec">CustoExec:</label>
            <input type="text" id="CustoExec" name="CustoExec"><br><br>
          </fieldset>
          <fieldset>
            <legend>DestRecursosEmp</legend>
            <fieldset>
              <legend>CustoCatContabilEmp</legend>
              <label for="CatContabil">CatContabil:</label>
              <input type="text" id="CatContabil" name="CatContabil"><br><br>
              <label for="CustoEmp">CustoEmp:</label>
              <input type="text" id="CustoEmp" name="CustoEmp"><br><br>
            </fieldset>
          </fieldset>
        </fieldset>
      </fieldset>
    </fieldset>
  </fieldset>
  <button type="submit">Submeter</button>
</form>
